*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../asset/image.jpg);
    height: 100vh;
    background-size:cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type:none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color:#000
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
body, #slider, .wrap, .slide-contect{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.wrap{position:relative}

.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
.slide{
    background-image: url(../asset/beach.jpg);
}

.slide-contect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slide-contect span{
    font-size: 5rem;
    color:#fff
}

.arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 0;
    height: 0;
    border-style:solid;
}
#arrow-left{
    border-widht: 30px 40px 30px 0;
    border-color: transparent #fff transparent;
    left:0;
    margin-left: 30px;
}